<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>图观引擎-API代码示例-对象控制-模型变换</title>
  <link rel="stylesheet" href="../../css/common.css" />
 <link rel="stylesheet" href="../../css/elementui.css" />
  <script src="../../js/config.js"></script>
  <script src="//www.tuguan.net/public/tgapp/TGApp.min.js"></script>

  <script src="../../lib/axios.js"></script>
  <script src="../../lib/vue.js"></script>
  <script src="../../lib/elementui.js"></script>
  <script src="./modelTransform.js"></script>
</head>

<body>
  <div class="app" id="app">
    <!-- 头部 -->
    <div class="header-wrap">
      <a href="//www.tuguan.net" target="_blank">图观引擎</a><span>-API代码示例-对象控制-模型变换</span><br />
      <span class="ctrl">点击按钮，对模型进行移动/旋转/变色等操作</span>
      <img src="../../image/tuguan.png" />
    </div>
    <!-- 场景 -->
    <div id="container"></div>
    <ul class="legends">
      <li class="div" v-for="(item,index) in list" :key="index" @click="ctrlMove(item)"
        :class="[item.active?'active':'']">
        {{item.action}}
      </li>
    </ul>
    <!-- 控制旋转角度 -->
    <ul class="rotate" v-show="rotateShow">
      <li v-for="(items,index) in rotateList" :key="index" @click="ctrlRotate(items)"
        :class="[items.active?'active':'']">
        {{items.action}}
      </li>
    </ul>
    <!-- 控制小车颜色变化 -->
    <ul class="carColor" v-show="colorShow">
      <li v-for="(item,index) in carColorList" :key="index" @click="ctrlColor(item)" :class="[item.active?'active':'']">
        {{item.action}}
      </li>
    </ul>
    <!-- 底部 -->
    <div class="footer-box">
      <span>基于图观™数字孪生应用开发引擎构建 https://www.tuguan.net</span>
      <span>版权所有 北京数字冰雹信息技术有限公司</span>
    </div>
    <!-- 进度条遮罩 -->
    <div v-show="isZZ" class="avw-loader">
      <section><span class="loader-112">L &nbsp; ading </span></section>
    </div>
  </div>
</body>

</html>